# 넷플연가 채널톡
NFYG_CHANNEL_KEY=
NFYG_CHANNEL_SECRET=

# 동행 채널톡
DONGHAENG_CHANNEL_KEY=
DONGHAENG_CHANNEL_SECRET=

# NFYG Admin MCP
WORKSHOP_MCP_SECRET=

# DB
DBHUB_DSN_NETFLIX_SALON=

# Notion
NOTION_API_KEY=
